@font-face {
    font-family: Indie;
    src: url(../fuentes/IndieFlower-Regular.ttf);
}
body{
    background-color: black;
}
#cabecera{
    border: 5px dashed orangered;
    background-color: orange;
    border-radius: 8px;
}
#cabecera h1{
    font-family: Indie;
    text-align: center;
    font-size: 3.5em;
}
nav ul{
    list-style-type: none;
    text-align: center;
}
nav ul li{
    display: inline;
    background-color: sandybrown;
    color: rgb(63, 58, 58);
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 50px;
}
nav a:hover{
    color: white;
}
.reseña{
    background-color: sandybrown;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}
.reseña1{
    background-color: sandybrown;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.reseña1 img{
    padding: 0 auto;
    border: 20px groove salmon;
    width: 900px;
}
#pie-de-pagina{
    background-color: rgb(53, 48, 48);
    color: rgb(214, 156, 84);
    border-radius: 8px;
    padding: 40px;
}
#pie-de-pagina h2{
    text-align: center;
    font-size: 5em;
}
#pie-de-pagina p{
    font-size: 20px;
}